
.container {
  text-align: center;

  margin-top: 9rem;
}

.heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 16px;
}

button {
  padding: 18px 26px;
  background-color: #da144f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}

button:hover {
  background-color: #b30036;
}
button:active {
  background-color: #0c4605;
}